.previous{
  display: block;
  background: url("../img/previous.png") 0 0 no-repeat;
  height: 91px;
  width: 91px;
  margin: 0 auto;

  &:hover{
    background: url("../img/previous-active.png") 0 0 no-repeat;
  }
}
